.grid {
  display: grid;
  height: 100%;
  grid-template-areas:
    "sidebar"
    "main";
  grid-template-rows: 1fr;
  grid-template-columns: 40rem 1fr;
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  position: fixed;
  width: 15rem;
  background-color: #203040;
  padding: 2rem;
}

.main {
  grid-area: main;
  margin-left: 20rem;
}
